---
# tasks file for docker  
- name: add docker repository
  become: true
  copy:
    src: docker.repo
    dest: /etc/yum.repos.d/docker.repo
    mode: 0644

- name: install docker engine
  become: true
  yum:
    name: docker-engine-{{ docker_version }}
    state: present

- name: enable docker service
  become: true
  systemd:
    name: docker
    state: started
    enabled: True

- name: create docker group
  become: true
  group:
    name: docker

- name: add users in docker group
  become: true
  user:
    name: "{{ item }}"
    append: True
    groups: docker
  with_items: "{{ docker_users }}"

- name: add docker options file
  become: true
  copy:
    src: docker-options
    dest: /etc/sysconfig/docker
  notify: docker - restart service
  
- name: add docker options
  become: true
  lineinfile:
    insertafter: '\[Service\]\n'
    line: "EnvironmentFile=/etc/sysconfig/docker"
    dest: /usr/lib/systemd/system/docker.service
  notify: docker - restart service

- name: add docker options
  become: true
  lineinfile:
    line: "ExecStart=/usr/bin/dockerd $OPTIONS"
    regexp: "^ExecStart="
    dest: /usr/lib/systemd/system/docker.service
  notify: docker - restart service
